In [27]:
import pandas as pd

In [28]:
df = pd.read_csv(r"/workspace/KordsaIntroML/Documents/DataPreprocessing/data/sampleV2.csv")
df

      0    1    2    3    4    5    6        7     8    9
0   0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  32.0  1.0
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0  2.0
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3.0
3   0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.0  1.0
4   0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.0  2.0
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3.0
6   1.0  0.0  0.0  0.0  0.0  0.0  1.0  20000.0  45.0  1.0
7   0.0  0.0  0.0  1.0  0.0  0.0  0.0  18000.0  32.0  2.0
8   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3.0
9   1.0  0.0  0.0  0.0  0.0  0.0  1.0  22000.0  45.0  1.0
10  0.0  1.0  0.0  0.0  0.0  0.0  1.0  15000.0  46.0  2.0
11  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3.0
12  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1.0
13  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  32.0  1.0
14  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1.0
15  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  45.0  1.0

In [29]:
df["9"] = df["9"].astype(int)
df

      0    1    2    3    4    5    6        7     8  9
0   0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  32.0  1
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0  2
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3
3   0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.0  1
4   0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.0  2
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3
6   1.0  0.0  0.0  0.0  0.0  0.0  1.0  20000.0  45.0  1
7   0.0  0.0  0.0  1.0  0.0  0.0  0.0  18000.0  32.0  2
8   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3
9   1.0  0.0  0.0  0.0  0.0  0.0  1.0  22000.0  45.0  1
10  0.0  1.0  0.0  0.0  0.0  0.0  1.0  15000.0  46.0  2
11  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3
12  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1
13  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  32.0  1
14  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1
15  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  45.0  1

In [30]:
y = df["9"].copy().values # label
X = df.drop("9",axis=1).values # features

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:,7:] = sc.fit_transform(X_train[:,7:])
pd.DataFrame(X_train)

      0    1    2    3    4    5    6         7         8
0   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.562978 -0.303452
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.918544 -0.303452
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.918544 -2.271790
3   1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.562978  0.975967
4   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.918544 -0.303452
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.562978  0.975967
6   0.0  0.0  1.0  0.0  0.0  0.0  0.0 -1.925979 -1.189204
7   0.0  0.0  0.0  1.0  0.0  0.0  0.0 -0.859283 -0.303452
8   0.0  1.0  0.0  0.0  0.0  0.0  1.0 -1.925979  1.074384
9   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.562978 -0.303452
10  0.0  0.0  0.0  1.0  0.0  0.0  1.0 -0.148152  0.975967
11  1.0  0.0  0.0  0.0  0.0  0.0  1.0 -0.148152  0.975967

In [36]:
X_test[:,7:] = sc.transform(X_test[:,7:])

In [37]:
pd.DataFrame(X_test)

     0    1    2    3    4    5    6         7         8
0  0.0  0.0  0.0  0.0  1.0  0.0  1.0 -0.148152 -0.303452
1  0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.925979 -0.303452
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.918544 -2.271790
3  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.562978 -0.303452