In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"/workspace/KordsaIntroML/Documents/DataPreprocessing/data/sampleV2.csv")
df

      0    1    2    3    4    5    6        7     8    9
0   0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  32.0  1.0
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0  2.0
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3.0
3   0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.0  1.0
4   0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.0  2.0
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3.0
6   1.0  0.0  0.0  0.0  0.0  0.0  1.0  20000.0  45.0  1.0
7   0.0  0.0  0.0  1.0  0.0  0.0  0.0  18000.0  32.0  2.0
8   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3.0
9   1.0  0.0  0.0  0.0  0.0  0.0  1.0  22000.0  45.0  1.0
10  0.0  1.0  0.0  0.0  0.0  0.0  1.0  15000.0  46.0  2.0
11  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3.0
12  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1.0
13  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  32.0  1.0
14  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1.0
15  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  45.0  1.0

In [5]:
df["9"] = df["9"].astype(int)
df

      0    1    2    3    4    5    6        7     8  9
0   0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  32.0  1
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0  2
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3
3   0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.0  1
4   0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.0  2
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3
6   1.0  0.0  0.0  0.0  0.0  0.0  1.0  20000.0  45.0  1
7   0.0  0.0  0.0  1.0  0.0  0.0  0.0  18000.0  32.0  2
8   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0  3
9   1.0  0.0  0.0  0.0  0.0  0.0  1.0  22000.0  45.0  1
10  0.0  1.0  0.0  0.0  0.0  0.0  1.0  15000.0  46.0  2
11  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0  3
12  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1
13  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  32.0  1
14  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0  1
15  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  45.0  1

In [25]:
y = df["9"].copy() # label
X = df.drop("9",axis=1) # features
X

      0    1    2    3    4    5    6        7     8
0   0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  32.0
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0
2   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0
3   0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.0
4   0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.0
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0
6   1.0  0.0  0.0  0.0  0.0  0.0  1.0  20000.0  45.0
7   0.0  0.0  0.0  1.0  0.0  0.0  0.0  18000.0  32.0
8   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0
9   1.0  0.0  0.0  0.0  0.0  0.0  1.0  22000.0  45.0
10  0.0  1.0  0.0  0.0  0.0  0.0  1.0  15000.0  46.0
11  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  32.0
12  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0
13  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  32.0
14  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0
15  0.0  0.0  0.0  0.0  1.0  0.0  0.0  22000.0  45.0

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [29]:
X_test

      0    1    2    3    4    5    6        7     8
0   0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  32.0
1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.0
5   0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  12.0
14  0.0  0.0  0.0  0.0  0.0  1.0  0.0  22000.0  32.0